<html>
    <title>Kenny's blog</title>
    <style>
        body{
            padding: 50px;
            font-family:Arial, Helvetica, sans-serif;
            line-height: 30px;
            
        }

        h4{
            font-family: fantasy;
        }
    </style>
<body>
    <p>Hi there!</p>
    <p>My django blog works!</p>
    <div>
        <h1>Kenny's blog</h1>
    </div>

    <div id="struggle">
        <h4 >My struggle</h4>
        <p>Over the past years, I’ve struggled with integrating my expectations of medicine with the reality I now find myself in after graduating. Becoming a Doctor for me was a decision based on so many factors but the most important ones were outside influences and curiousity. However, my initial curiosity grew into a love for the profession that I cannot describe. With time I have come to love and respect medical knowledge but not necessarily medical practice due to obvious reasons in our environment. As much as Medicine  intrigues me and excites me all at once,  recently, I find myself longing for more than this niche that has become almost monotonous and repetitive.</p>
        <p>I am of the opinion that medical training did us a great dis-service by stealing away almost everything from us with the promise of a brighter tomorrow. It took upon an all too traditional approach to learning. Along this journey, many of us lost relationships, valuable time and opportunities to pick up life changing soft skills. We were improperly equipped with the necessary know-how to survive in today’s technology driven and ever changing reality.</p>
        <p>As a Health practitioner in most countries including Nigeria, at some point, our jobs become repetitive and monotonous. As such we end up still being paid on a hourly basis for our services rendered, even though it may be described as a “high barest-minimum” especially in saner climes. This however means that every hour you are sleeping, eating or on vacation with family, you lose wages. Hence we end up making  “money” and not creating “wealth “. In a job which is timed and repetitive, it is logical to assume that our jobs can be taught and this consequently may mean that in a few years we may become redundant. This is already evident by the large number of Community Health Extension workers competing with us for our jobs and probably earning more than most of us do in their quack private practices</p>
        <p>On the other hand some would argue that Medicine is about prestige and respect, not money. I would argue that In the face of ever rising costs of living, rent and school fees, prestige is just not enough to feed a family of four. We must find alternate sources of income if we hope to meet our monthly ends meet. The reason billionaires keep making money is that for every hour of sleep Jack Dorsey, Bill Gates, Elon musk or Tim Cook gets, they become even wealthier while as Health workers who are already over-worked, we lose wages. </p>
        <p>I have noticed that a lot of us including myself become scared at the prospect of even thinking about venturing out of this safe space that we have known all our lives. I mean, familiarity is comfort and the unknown is scary, but let’s face it, Medicine is no longer enough to take care of your needs in Nigeria today. Many of us had such high expectations going in and these have all been met with unrepentant disappointment.</p> 
        <p>In conclusion, while I’m all too familiar with the fear of the uncertainty that lies beyond conventional medical practice, if we hope to remain relevant and to remain comfortable financially, it’s important to pick up a skill outside medicine. You have dedicated the last decade to medicine, you are now a medical doctor, no one can take that away from you. It’s time to try something different.</p>
        <p>With the internet, we can learn almost anything. You could choose to focus on personal intellectual development by reading more non medical books, take online courses on business management, learn Data Science, programming, painting, graphic designing ; even learn to bake or be a writer. Learn literally  anything else asides Medicine. You could even learn programming and integrate it into medicine. Start a Medical tech Start up, a notable example is Doctoora. Diversify diversify diversify.</p>
     
        <p>Always remember that there are people with less than a tenth of your skill set, who are doing meaningful work, while still making ten times your salary and are within your age bracket, not because they are necessarily smarter, but because you are unable or unwilling to put yourself out there. This is usually because most times we do not have the courage, the right mindset, information or the right people around us.</p>
      </div>

</body>
</html>